
$alpha1:#05579e; // 8 times

$alpha24: rgba(8, 128, 232, 0.4);
$alpha25: rgba(8, 128, 232, 0.5);
$alpha27: rgba(8, 128, 232, 0.7);

$alpha39:rgba(5, 74, 133, 0.9); // 2 times
$alpha38:rgba(5, 74, 133, 0.8); // 1 times

$alpha4:rgba(6, 98, 178, 0.9); // 2 times

$alpha-primary:#0880e8; // 39 times
$alpha-secondary:#2b99f8; // 6 times
$alpha-tertiary:#0665b7;  // 4 times

$beta-primary:#f6b024;
$beta-secondary:#f1a40a;